{% extends 'base.html' %} {% block content %} {% comment %} 쇼생크 탈출과 비슷한
영화 추천받기 {% endcomment %}
<div class="text-center my-5">
  <h1><strong>쇼생크 탈출과 비슷한 영화 추천받기</strong></h1>
</div>

{% comment %} Card {% endcomment %}
<div class="card mb-3 card_2">
  <div class="row g-0">
    <div class="col-md-6 col-lg-3">
      <img src="{{ poster_path }}" class="img-fluid rounded-start" alt="..." />
    </div>
    <div class="col-md-6 col-lg-9">
      <div class="card-body">
        <h5 class="card-title">
          <strong>{{ title }}</strong>
          <span class="badge bg-success">{{ vote_average }}</span>
        </h5>
        <p class="card-text">{{ overview }}</p>
        <p class="card-text">개봉일 : {{ release_date }}</p>
        <div class="d-flex flex-column align-items-stretch">
          <a href="{{ m_id }}" class="btn btn-primary">상세정보</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
