{% extends 'base.html' %} {% block content %}
<h1>EDIT</h1>
<hr>
<form action="{% url 'movies:update' movie.pk %}" method="POST">
  {% csrf_token %}

  <div class="mb-2">
    <label for="title" class="form-label">TITLE</label>
    <input type="text" name="title" class="form-control" id="title" value="{{ movie.title }}">
  </div>

  <div class="mb-2">
    <label for="audience" class="form-label">AUDIENCE</label>
    <input type="text" id="audience" name="audience" class="form-control" value="{{ movie.audience }}">
  </div>

  <div class="mb-2">
    <label for="release_date" class="form-label">RELEASE_DATE</label>
    <input type="date" id="release_date" name="release_date" class="form-control" value="{{ movie.release_date|date:'Y-m-d' }}">
  </div>


  <div class="mb-2">
    <label for="genre" class="form-label">GENRE</label>
    <select class="form-select" name="genre" id="genre">
      {% for genre in genres %}
      {% if movie.genre == genre %}
      <option value="{{ movie.genre }}" selected>{{ genre }}</option>
      {% else %}<option value="{{ genre }}">{{ genre }}</option>
      {% endif %}
      {% endfor %}
    </select>
  </div>

  <div class="mb-2">
    <label for="score" class="form-label">SCORE</label>
    <input type="text" id="score" name="score" class="form-control" value="{{ movie.score }}">
  </div>

  <div class="mb-2">
    <label for="poster_url" class="form-label">POSTER_URL</label>
    <input type="text" id="poster_url" name="poster_url" class="form-control" value="{{ movie.poster_url }}">
  </div>


  <div class="mb-3">
    <label for="description" class="form-label">DESCRIPTION</label>
    <textarea class="form-control" id="description" name="description" rows="5">{{ movie.description }}</textarea>
  </div>

  <div class="d-flex">
    <button type="reset" class="btn btn-info col-4">Reset</button>
    <button type="submit" class="btn btn-primary col-4 offset-4">Submit</button>
  </div>
  
</form>
<hr>
<a class="btn btn-secondary col-12" href="{% url 'movies:index' %}">BACK</a>
{% endblock %}
